name: Deploy

on:
  push:
    branches:
      - master

env:
  HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
  APP_NAME: ${{ 'insurance-api-arinc' }}
  NODE_ENV: production
  DB_USERNAME: ${{ secrets.DB_USERNAME }}
  DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
  DB_CONNECTION_PATH: ${{ secrets.DB_CONNECTION_PATH }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout the repo
      - name: Checkout
        uses: actions/checkout@v2

      # Install nodejs
      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: '14.16.0'

      # Install npm dependecies
      - name: Install npm dependencies
        run: npm ci

      # Install Jest
      - name: Install jest
        run: npm install -g eslint

      # Run tests
      - name: Run Tests
        run: npm test
        env:
          CI: true
          ISOLATE: true

      # Login heroku docker image registry
      - name: Login Heroku Docker Image Registry
        run: docker login --username=_ --password=$HEROKU_API_KEY registry.heroku.com

      - name: Set Env Vars for Heroku
        run: |
          heroku config:set NODE_ENV=$NODE_ENV --app $APP_NAME
          heroku config:set DB_USERNAME=$DB_USERNAME --app $APP_NAME
          heroku config:set DB_PASSWORD=$DB_PASSWORD --app $APP_NAME
          heroku config:set DB_CONNECTION_PATH=$DB_CONNECTION_PATH --app $APP_NAME

      # Push the Docker image to Heroku Container Registry
      - name: Push to Heroku
        run: heroku container:push web --app $APP_NAME

      # Release the Docker image to live
      - name: Release the image from Heroku Registry
        run: heroku container:release web --app $APP_NAME
